<header id ="static-index">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8" id="static-banner">
        <h1 class="wow fadeIn" data-wow-offset="100" data-wow-delay="0.9s">Can't <span> decide where to go </span> with your friends?</h1>
        <a class="btn btn-default wow fadeInUp" data-wow-offset="100" data-wow-delay="0.6s">GET STARTED</a>
      </div>
    </div>
  </div>
</header>

<!-- Main Feature 1 -->
<section class="content-section-dark" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
          Add your event and have your own Checklist:
        </h2>
        <p class="lead">You can also add in a list of to-do’s, your shopping lists or list of to-bring.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" style="height: 350px; border:1px solid #e7e7e7;" ng-src="<%= asset_path('addEvent.png') %>" alt="">
      </div>
    </div>
  </div>
</section>

<!-- Main Feature 2 -->
<section class="content-section-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
          Vote for a location:
        </h2>
        <p class="lead">Have your friends vote for the location they prefer the most.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6 col-sm-6">
        <img class="img-responsive" style="width: 500px; border:1px solid #e7e7e7;" ng-src="<%= asset_path('votingPage.png') %>" alt="">
      </div>
    </div>
  </div>
</section>

<!-- More screenshots of the features -->
<section class="content-section-dark">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
          See more features
        </h2>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn">
        <div class="ih-item square effect7" data-wow-offset="50" data-wow-delay="0.6s"><a href="#">
          <img ng-src="<%= asset_path('editInPlace.png') %>" class="img img-responsive">
          <div class="info">
            <h3>Edit-in-Place</h3>
            <p>Using "angular-xeditable" editing and updating in place is possible.</p>
          </div></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn">
        <div class="wow fadeIn ih-item square effect7" data-wow-offset="50" data-wow-delay="0.6s"><a href="#">
          <img ng-src="<%= asset_path('dragDrop.png') %>" class="img img-responsive">
          <div class="info">
            <h3>Drag and Drop</h3>
            <p>Using "ui-sortable" to enable the drag and drop to sort your lists.</p>
          </div></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn">
        <div class="ih-item square effect7" data-wow-offset="50" data-wow-delay="0.6s"><a href="#">
          <img ng-src="<%= asset_path('chooseDate.png') %>" class="img img-responsive">
          <div class="info">
            <h3>Date Picker</h3>
            <p>I used "angular-datepicker" to enable this drop down calender.</p>
          </div></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About the Developer -->
<section class="content-section-light" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
          About the Developer
        </h2>
        <p class="lead">Inspired by basecamp.com for the 4th project in General Assembly’s Web Development Immersive Course. Feel free to explore the website and hope you enjoy it as much as I have enjoyed creating it.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6 col-sm-6">
        <img class="img-responsive" style="width: 400px; border:1px solid #e7e7e7;" ng-src="<%= asset_path('toniGit.png') %>" alt="">
      </div>
    </div>
  </div>
</section>
